body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #757575;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.card h5 {
    margin-bottom: 10px;
}

h5 {
    margin-right: 30px;
}

h6 {
    margin-right: 30px;
}

h2 {
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    margin: auto;
}

.section {
    padding: 94px 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.logo-header {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    margin-right: 93px;
    padding-bottom: 25px;
    padding-top: 24px;

}

.footer-logo {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
}

.blue-font {
    color: #2196f3;
}

.link-black:hover {
    color: #2196F3;
}

.link-black {
    color: #000000;
    text-decoration: none;
}

.link-white:hover {
    color: #2196F3;
}

.link-white {
    color: #ffff;
    text-decoration: none;
}

.site-nav {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;

}

.agency {
    color: #212121;
    text-decoration: none;
    margin-right: 46px;
}

.agency:hover {
    color: #2196F3;
}

.portfolio {
    color: #212121;
    text-decoration: none;
    margin-right: 46px;
}

.portfolio:hover {
    color: #2196F3;
}

.contact {
    color: #212121;
    text-decoration: none;
    margin-right: 364px;
}

.contact:hover {
    color: #2196F3;
}

.project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.00;
    color: #212121;
}

.description {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

.connect {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
}

.mailto {
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}

.mailto:hover {
    color: #2196F3;
}

.number {
    color: #757575;
    text-decoration: none;

}

.number:hover {
    color: #2196F3;
}

.border-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2F303A;
    height: 600px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
}

.main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    margin-top: 200px;
    color: #ffff
}


.bg {

    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 200px;
    margin-left: auto;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.bg:hover {
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
}

.article-lorem {
    display: flex;
    justify-content: space-around;

}

.product {

    display: flex;
    justify-content: space-around;

}

.team-background {

    background-color: #F5F4FA;
}

.team-gallery {
    display: flex;
    justify-items: center;

}

.button-rectangle {
    display: flex;
    margin-bottom: 50px;

}

.rectangle {
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 121px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    margin: 4px;
}

.rectangle:hover {
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
}

.gallery-figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.figure {
    margin-right: 30px;
    margin-bottom: 30px;
}

.border-text {
    border-top: none;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
}

.article-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
}

.work {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.name-john {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
}


.figure-johndoe {
    display: flex;
    padding: 0px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px, 0px 1px 1px, 0px 2px 1px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.professional-position {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2F303A;
    height: 252px;
    left: 0px;
    top: 2097px;
    border-radius: 0px;

}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #ffff
}

.tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF60;
    text-decoration: none;
}

.tel:hover {
    color: #2196F3;
}

.mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF60;
    text-decoration: none;
}

.mail:hover {
    color: #2196F3;
}

.mail-portfolio {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: underline;
    color: #FFFFFF60;
}

.footer-link {
    margin: 0px;
    padding: 0px;
}

.mail-portfolio:hover {
    color: #2196F3;
}